<nav class='links'>
  <ul>
    <li><%= link_to_unless_current_with_span "Kalender", calendar_path %></li>
    <li><%= link_to_unless_current_with_span "Presentasjoner", presentations_path %></li>
    <li><%= link_to 'Prosjektnetter', '#' %></li>
    <li><%= link_to_unless_current_with_span "Send inn forslag", new_proposal_path %></li>
    <li><a href="https://groups.google.com/d/forum/bergenrb" title="Mailing list">Epostliste</a></li>
    <li class="desktop-only"><a href="irc://irc.freenode.net/ruby-bergen">IRC</a></li>
    <li><a href="https://github.com/bergenrb/bergenrb/wiki" title="More information than you can handle">Wiki</a></li>
    <li><a href="http://twitter.com/bergenrb" title="Tweets fra bergenrb">Twitter</a></li>
    <li><a href="https://github.com/bergenrb" title="Delt kode fra bergenrb">Github</a></li>
  </ul>
</nav>

