<%= upcoming_presentations %>

<section class='thin column'>
  <article>
    <header><h2>Bli med</h2></header>
    <ol class='join'>
      <li>Bli med på epostlisten <a href='https://groups.google.com/d/forum/bergenrb' target='_blank'>BergenRB</a></li>
      <li><%= t('.attend') %></li>
    </ol>
  </article>
  <article>
    <header><h2>Når</h2></header>
    <p>Andre tirsdag i måneden <br>18:00 til 21:00</p>
  </article>

  <article>
    <header><h2>Hvor</h2></header>
    <p>
      TBA<br/>
    </p>
  </article>

  <article>
    <header>
      <h2>Hva</h2>
    </header>
    <p><%= t(:description) %></p>
  </article>

  <article>
    <header><h2>Hvem</h2></header>
    <p>Erfarne Rubyister er vanligvis tilstede og alle nye Rubyister er velkomne!</p>
  </article>
</section>
